@font-face {
    font-family: "Poppins";
    src: url("Poppinsregular.ttf");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url("Poppins600.ttf");
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url("Poppins700.ttf");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Rubik";
    src: url("Rubik-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Rubik";
    src: url("Rubik-Black.ttf");
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Rubik";
    src: url("Rubik-BlackItalic.ttf");
    font-weight: 900;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Rubik";
    src: url("Rubik-Bold.ttf");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Rubik";
    src: url("Rubik-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Rubik";
    src: url("Rubik-Italic.ttf");
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Rubik";
    src: url("Rubik-Light.ttf");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Rubik";
    src: url("Rubik-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Rubik";
    src: url("Rubik-Medium.ttf");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Rubik";
    src: url("Rubik-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
  }
  