.story-form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: #202124;
  color: #fff;
  border-radius: 16px;
  padding: 20px;
}

.story-form h4 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.story-form input,
.story-form select,
.story-form button {
  margin: 5px;
  border-radius: 100px;
  padding: 10px;
}

.story-form input:focus,
.story-form select:focus {
  outline: none;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}



.story-form input,
.story-form select{
  border: 1px solid #fff;
}

.story-form button {
  background-color: #00BFBA;
  border: none;
  color: #fff;
  font-weight: bold;
}

.story-form .story-form-title{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color : #86DAEC;
  margin: 0;
}

@media (max-width: 768px) {
  .story-form .story-form-title{
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .story-form {
    margin: 10px;
    padding: 10px;
  }

  .story-form h4 {
    font-size: 0.875rem;
  }

  .story-form .story-form-title{
    font-size: 1.25rem;
  }

  .story-form input,
  .story-form select,
  .story-form button {
    padding: 8px;
  }
}
